<div class="main">

  <div class="lp-main">

    <div class="lp-countdown">
      <p class="lp-countdown-time" id="time">1405 : 16 : 18</p>
      <div class="lp-countdown-label ">
        <p>HOUR</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <span id="spacer"></span>
        <p>MIN</p>
        <span id="spacer"></span>
        <p>SEC</p>
      </div>

      <p class="lp-countdown-rem">REMAINING</p>
    </div>

    <div class="lp-logo">

      <div class="lp-logo-wrap">
        <img class="lp-logo-img" src="../../assets/ceit94_anim.gif" alt="" />

        <svg viewBox="0 0 300 300">
          <g style="fill:none;stroke:#FFF;stroke-width:2;"
             transform="rotate(45 150 150)">
            <rect x="50" y="50" width="195" height="195"></rect>
            <rect x="60" y="60" width="195" height="195"></rect>
          </g>
        </svg>
      </div>

    </div>

    <div class="lp-button-panel">
      <button>Gallery</button>
      <button>Login</button>
    </div>

  </div>


  <div class="shadow">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none">
      <g style="fill:#000;">
        <path d="M0 20 L0 100 L100 100 L100 80 Z"></path>
      </g>
    </svg>
  </div>

</div>
