.main {
  height: 100%;
  width: 100%;
  background-color: #141414;
  color: #FFF;
  font-family: Arapix;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.lp-main{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 60;
  pointer-events: none;
}

.shadow svg{
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.lp-logo{
  display: block;
  height: 60vh;
  width: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14vh;
  /*border: 1px solid red;*/
}

.lp-button-panel{
  display: block;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  /*border: 1px solid green;*/
  text-align: center;
}

.lp-button-panel button{
  background-color: transparent;
  color: #ffffff4f;;
  border: 1px solid #ffffff4f;;
  border-radius: 27px;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 30px;
  width: 170px;
  transition: background-color 0.15s, color 0.15s;
}

.lp-button-panel button:focus {
  outline:0;
}

.lp-button-panel button:hover{
  background-color: #c70039;
  color: #FFF;
  border: 1px solid #FFF;
}

.lp-logo-wrap{
  position: relative;
  width: 100%;
  height: 100%;
}

.lp-logo svg{
  display: block;
  position: absolute;
  height: 60vh;
  width: 60vh;
  margin: 0;
  z-index: 20;
  opacity: 0.06;
}

.lp-logo-img{
  display: block;
  width: 38vh;
  height: 38vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 19;
}

.lp-countdown{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 150px;
  /*border: 1px solid red;*/
}

.lp-countdown-time{
  display: block;
  text-align: center;
  opacity: 0.5;
  font-size: 58px;
  line-height: 58px;
  margin: 0;
}

.lp-countdown-label{
  display: flex;
  flex-direction: row;
  text-align: center;
  opacity: 0.4;
  font-size: 25px;
  height: 40px;
  text-transform: uppercase;
  margin: -5px 38px 0px 49px;

}
#spacer {
  flex: 1;
}

.lp-countdown-rem{
  display: block;
  text-align: center;
  opacity: 0.4;
  font-size: 24px;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 18px;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: 20px;
}
