@import "../styles/_colors.scss";
@import "../styles/_sidebar.scss";
@import "../styles/_navbar.scss";
@import "../styles/_spinner.scss";

.main {
  background-color: #141414;
  padding-top: 30px;
}

.vote-row {
  background-color: #242424;
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 5px;
}

.vote-title {
  color: #FFF;
  direction: rtl;
  text-align: right;
  font-family: IRANSans;
  font-size: 18px;
  margin: 0;
}

.vote-title::before {
  content: '#';
  color: #AAA;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 22px;
}

.vote-person {
  background-color: #c60139;
  font-family: IRANSans;
  font-size: 14px;
  color: #FFF;
  padding:8px 15px;
  border-radius: 22.5px;
  margin: 0;
}

.vote-button {
  padding-top: 10px;
  width:30px;
  height: 30px;
  margin: 0;
  img {
    width:30px;
    height: 30px;
  }
}
