<div class="container-fluid lp-main">

  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-4">

      <div class="lp-logo">
        <div class="lp-logo-wrap">
          <img src="../../../assets/ceit94_anim.gif" alt="" />

          <svg viewBox="0 0 300 300">
            <g style="fill:none;stroke:#FFF;stroke-width:2;"
               transform="rotate(45 150 150)">
              <rect x="50" y="50" width="195" height="195"></rect>
              <rect x="60" y="60" width="195" height="195"></rect>
            </g>
          </svg>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8 offset-sm-1 offset-md-2 offset-lg-2">
      <div class="lp-button-panel">
        <a routerLink="/vote">&nbsp;&nbsp;Vote&nbsp;&nbsp;</a>
        <a routerLink="/students">Members</a>
      </div>
    </div>
  </div>

</div>

<app-sidemenu #sideMenuComponent></app-sidemenu>

<div class="lp-countdown">
  <p class="lp-countdown-time" id="time">{{grad_hour}} : {{grad_min}} : {{grad_sec}}</p>
  <div class="lp-countdown-label ">
    <p>HOUR</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <span class="spacer"></span>
    <p>MIN</p>
    <span class="spacer"></span>
    <p>SEC</p>
  </div>

  <p class="lp-countdown-rem">REMAINING</p>
</div>

<div class="shadow">
  <svg viewBox="0 0 100 100" preserveAspectRatio="none">
    <g style="fill:#000;">
      <path d="M0 20 L0 100 L100 100 L100 80 Z"></path>
    </g>
  </svg>
</div>


<!-- Top Button -->
<button class="toggle-button" type="button" (click)="sideMenuComponent.toggle()">
  <svg xmlns="http://www.w3.org/2000/svg" width="30.85" height="22.35" viewBox="0 0 48.213 34.928"><g transform="translate(-68.395 -70.536)"><rect width="48.213" height="5.547" rx="2.774" transform="translate(68.395 70.536)"/><rect width="38.094" height="5.547" rx="2.774" transform="translate(68.395 85.227)"/><rect width="24.404" height="5.547" rx="2.774" transform="translate(68.395 99.916)"/></g></svg>
</button>
