@import "../../styles/spinner";

.main {
  background-color: #1e1e1e;
  padding: 30px;
}

.search-box:focus-within{
  //box-shadow: 0 0 5px #a5002f;
  border: solid 2.5px #a5002f;

  input{
    color: #FFF;
  }

  .search-icon{
    fill: #a5002f;
  }
}

.search-box{
  border-radius: 3.5px;
  background-color: #323232;
  border: solid 2.5px transparent;
  margin-bottom: 20px;

  input{
    direction: rtl;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-family: IRANSans;
    padding: 0 0 0 15px;
  }

  input:focus{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    -webkit-appearance: none;
  }

  .search-icon{
    width: 18px;
    height: 18px;
    margin: 18px;
    fill:#595959;
    fill-rule:evenodd;
  }
}

button {
  margin-top: 6px;
  background-color: rgb(44,44,44);
  border-radius: 8px;
  border: solid 1px transparent;
  color: #FFF;
  font-family: IRANSans;
  font-size: 13.5px;
  padding: 3px;
}

button:hover {
  border-color: #FFF;
}
