@import "../styles/_colors.scss";

.navbar-dark{
  background-color: #242424;
}

.navbar-logo {
  width: 72px;
  height: 72px;
}

.navbar-nav {

  font-family: IRANSans;
  color: #e2e2e2;

  .navbar-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  p{
    margin-bottom: 0;
  }

}

.main {
  background-color: #141414;
}

.mid-col{
  padding: 0;
}

.search-box:focus-within{
  //box-shadow: 0 0 5px #a5002f;
  border: solid 2.5px #a5002f;

  input{
    color: #FFF;
  }

  .search-icon{
    fill: #a5002f;
  }
}

.search-box{
  border-radius: 3.5px;
  background-color: #1c1c1c;
  border: solid 2.5px transparent;
  margin-top:38px;

  input{
    direction: rtl;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-family: IRANSans;
    padding: 0 0 0 15px;
  }

  input:focus{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    -webkit-appearance: none;
  }

  .search-icon{
    width: 18px;
    height: 18px;
    margin: 18px;
    fill:#595959;
    fill-rule:evenodd;
  }
}


.std-card-row {
  margin-top: 38px;
  font-family: IRANSans;

  .col-rtl {
    float: right !important;
  }

  div {
    padding: 0;
  }

  .std-card{
    //border: 1px solid #FFF;
    margin: 5px;
    border-radius: 8.5px;
    overflow: hidden;
    background-color: #1c1c1c;
    border: 1px solid transparent;

    img {
      width: 100%;
    }

    .spacer{
      display: block;
      width: 100%;
      height: 7px;

      .spacer-wrap{
        position: relative;
        display:block;
        width: 100%;
        height: 100%;

        .spacer-inner{
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: #000;
          opacity: 0.35;
        }
      }
    }

    @include color-setter('.spacer',background-color);

    p{
      font-size: 10px;
      width: 100%;
      text-align: center;
      margin-top: 4px;
      margin-bottom: 6px;
      color: #FFF;
    }

  }

  .std-card:hover{
    //box-shadow: 0 0 5px #ae0000;
    border-width: 1px;
    border-style: solid;
  }

  @include color-setter('.std-card:hover',border-color);

}
